<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bookshop</title>
</head>
<body>
    <header>
        <h1>Store Categories</h1>
        <button><a href="/categoryForm">Add category</a></button>
        <button><a href="/itemForm">Add Item</a></button>
    </header>
    <main>
        <ul>
            <% categories.forEach((category) => {
                %>
                <li>
                    <strong><%= category.name %>:</strong>
                    <br>
                    <%= category.description %>
                    <br>
                    <div>
                        <button><a href="/items/<%= category.id %>/items">Open</a></button>
                        <form action="/category/<%= category.id %>/delete" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form> 
                        <form action="/category/<%= category.id %>/edit" method="GET" style="display:inline;">
                            <button type="submit">Edit</button>
                        </form>  
                    </div>                 
                </li>
            <%}) %> 
        </ul>
    </main>
</body>
</html>