<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= categoryName %></title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <h1><%= categoryName %></h1>
    </header>
    <hr>
    <main>
        <% if (typeof errors !== "undefined" && errors.length > 0) { %>
            <ul>
              <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
              <% }) %>
            </ul>
          <% } %>
        <ul>
            <% category.forEach((item) => {
                %>
                <li>
                    <strong><%= item.name %> $<%= item.price %>:</strong>
                    <br>
                    <%= item.description %>
                    <br>
                    Quatity: <%= item.quantity %>
                    <br>
                    <button><a href="/item/<%= item.id %>">Open</a></button>
                </li>
            <%}) %>
        </ul>
    </main>
</body>
</html>